# Raw datasets
03-sea-turtle-video-detection/data/raw/

# Generated YOLO datasets
03-sea-turtle-video-detection/data/yolo/
03-sea-turtle-video-detection/data/yolo_split/

# YOLO training outputs
03-sea-turtle-video-detection/notebooks/runs/
03-sea-turtle-video-detection/notebooks/weights/

# Model files
*.pt
*.pth
*.onnx